<%- include('partials/head') %>
  <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="profile-page">
      <h1>Bienvenue <%= user.firstname %>
          <%= user.lastname %> !</h1>
      <!-- Berlingot d'erreur pour afficher les erreurs -->
      <!-- <div class="form-error-block">
                Une erreur s'est produite à l'envoi du formulaire :.
            </div> -->
      <form class="profile-form" action="">
        <div class="profile-form__fieldset">
          <label for="firstname">Prénom</label>
          <input type="text" name="firstname" id="firstname" placeholder="Votre prénom" value="<%= user.firstname %>" />
        </div>

        <div class="profile-form__fieldset">
          <label for="lastname">Nom de famille</label>
          <input type="text" name="lastname" id="lastname" placeholder="Votre nom" value="<%= user.lastname %>" />
        </div>

        <div class="profile-form__fieldset">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="nom@mail.fr" value="<%= user.email %>" />
        </div>

        <button type="submit">Mettre à jour</button>
        <p><a href="/deconnexion">Déconnexion</a></p>
      </form>
    </main>

    <%- include('partials/footer') %>