<%- include('partials/head') %>
  <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="quiz-page">
      <% %>
        <h1 class="quiz__title">
          <%= quiz.title %>
        </h1>
        <p>
          <%= quiz.description %>
        </p>
        <p>Par <span>
            <%= quiz.user.firstname %>
              <%= quiz.user.lastname %>
          </span>, le 02 décembre</p>

        <form action="">
          <!-- Question -->
          <% for (let question of quiz.questions) { %>
            <fieldset>
              <legend>
                <%= question.description %>
              </legend>
              <!-- Réponse -->
              <% for (let answer of question.answers) { %>
                <div>
                  <input type="radio" name="question1" id="answer1" />
                  <label for="answer1">
                    <%= answer.description %>
                  </label>
                </div>
                <% } %>
                  <p class="quiz-anecdote">
                    <%= question.anecdote %>
                  </p>
            </fieldset>
            <% } %>
              <button type="submit">Soumettre le formulaire</button>
        </form>
    </main>

    <%- include('partials/footer') %>