<%- include('partials/head') %>
  <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="signup-page">
      <h1>Inscription</h1>
      <!-- Berlingot d'erreur pour afficher les erreurs -->
      <% if (errorMessage) { %>
        <div class="form-error-block">
          Une erreur s'est produite à l'envoi du formulaire : <%= errorMessage %>
        </div>
        <% } %>
          <form class="signup-form" action="/inscription" method="post">
            <div class="signup-form__fieldset">
              <label for="firstname">Prénom</label>
              <input type="text" name="firstname" id="firstname" placeholder="Votre prénom" <% if (data &&
                data.firstname) { %>
              value="<%= data.firstname %>"
                <% } %>
                  />
            </div>

            <div class="signup-form__fieldset">
              <label for="lastname">Nom de famille</label>
              <input type="text" name="lastname" id="lastname" placeholder="Votre nom" <% if (data && data.lastname) {
                %>
              value="<%= data.lastname %>"
                <% } %>
                  />
            </div>

            <div class="signup-form__fieldset">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="nom@mail.fr" <% if (data && data.email) { %>
              value="<%= data.email %>"
                <% } %>
                  />
            </div>

            <div class="signup-form__fieldset">
              <label for="password">Mot de passe</label>
              <input type="password" name="password" id="password" placeholder="******" />
            </div>

            <div class="signup-form__fieldset">
              <label for="confirmation">Confirmation mot de passe</label>
              <input type="password" name="confirmation" id="password" placeholder="******" />
            </div>

            <button type="submit">Inscription</button>
          </form>

          <!-- Liens utiles -->
          <ul>
            <li><a href="/login">Vous avez déjà un compte ?</a></li>
            <li><a href="/">Retour à la page d'accueil</a></li>
          </ul>
    </main>

    <%- include('partials/footer') %>