<%- include('partials/head') %>

  <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="tags-page">
      <h1>Tous les sujets</h1>
      <!-- Thématique avec quiz liés -->
       <% for(const tag of tags) { %>
      <section class="tag__section">
        <h2 class="tag__title"><%= tag.name %></h2>
        <ul class="tag__quiz-list">
          <% if (tag.quizzes.length <= 0 ) { %>
          <li>Aucun quiz disponible pour ce sujet</li>
          <% } else { %>
          <% tag.quizzes.forEach(e => { %>
          <li>
            <a href="/quiz/<%= e.id %>"><%= e.title %></a>
          </li>
          <% }) %>
          <% } %>
        </ul>
      </section>
      <% } %>
    </main>

    <%- include('partials/footer') %>